@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(90deg,#14ebdd,#2ddc12); */
    position: relative;
    overflow: hidden;
}

.bg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.bg-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
    transform: scale(1.1);
    background-repeat: no-repeat;
}



.container {
    position: relative;
    width: 60vw;
    height: 75vh;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.form-box {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
    z-index: 1;
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
}

.container.active .form-box {
    right: 50%;

}

.form-box.register {
    visibility: hidden;
}

.container.active .form-box.register {
    visibility: visible;
    transition: .6s ease-in-out 1.2s;
}

form {
    /* background: purple; */
    width: 100%;
}

.container h1 {
    font-size: 2em;
    margin-bottom: 2%;
}

.input-box {
    position: relative;
}

.input-box input {
    border: none;
    width: 100%;
    padding: 3%;
    background: #eee;
    border-radius: 8px;
    margin-top: 2%;
    margin-bottom: 3%;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    display: flex;
    justify-content: right;
    align-items: right;
}

.input-box input::placeholder {
    color: #888;
    font-weight: 400;
}

.input-box i{
    z-index: 2;
    top: 50%;
    margin-left: 40%;
    position: absolute;
    border: none;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: #333;
}

.forgot-link {
    margin: -15px 0 15px;
}

.forgot-link a {
    font-size: 14.5px;
    color: #333;
    text-decoration: none;
}

.btn {
    width: 100%;
    height: 48px;
    /* background: #14ebdd; */
    background: #7494ec;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    border-radius: 8px;
    ;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.container p {
    font-size: 14.5px;
    margin: 15px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons i {
    display: inline-flex;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    margin: 0 8px;
}

.toggle-box {
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.toggle-box::before {
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    /* background: #7494ec; */
    background: rgb(43, 173, 14);
    box-shadow: 0px 0px 10px rgb(43, 173, 14);
    border-radius: 150px;
    z-index: 2;
    transition: 1.6s ease-in-out;
}

.container.active .toggle-box::before {
    left: 50%;
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    /* background: seagreen; */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    z-index: 2;
    transition: .6s ease-in-out;
    padding-bottom: 7%;
}

/* New logo container styles */
.logo-container {

    height: 30%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
}
.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}


.toggle-panel.toggle-left {
    left: 0;
    transition-delay: 1.2s;
}

.container.active .toggle-panel.toggle-left {
    left: -50%;
    transition-delay: .6s;
}

.toggle-panel.toggle-right {
    right: -50%;
    transition-delay: .6s;
}

.container.active .toggle-panel.toggle-right {
    right: 0;
    transition-delay: 1.2s;
}

.toogle-panel h1 {
    font-size: 2em;
}

.toggle-panel p {
    margin-bottom: 2%;
}

.toggle-panel .btn {
    width: 160px;
    height: 46px;
    background: transparent;
    border: 2px solid #fff;
    box-shadow: none;
}